{% extends 'CoderApp/template-padre.html' %}
{% load static %}
{% block contenidoVariable %}
    <h1>Información de la view students</h1>
    <h1>Herencia de template-padre.html</h1>
    <body>
        <h2>¡Hola, esto es una prueba por template!</h2>
    
        <h2>Mi nombre es {{ nombre }} {{ apellido}}</h2>
        
        <h2>El estudiante está inscripto en los siguientes cursos:
            {% for curso in cursos %}
                <li>{{ curso }}</li>
            {% endfor %}
        </h2>
    </body>
{% endblock %}